<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1 class="fw-bold mb-0 text-black">Carro de la compra</h1>
                    <h6 class="mb-0 text-muted">Número de juegos {{orderlist.length}}</h6>
                  </div>
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="d-none d-md-block col-md-2 col-lg-2 col-xl-2 text-center">
                      Imagen
                    </div>
                    <div class="d-none d-md-block col-md-3 col-lg-3 col-xl-3">Nombre</div>
                    <div class="d-none d-md-block col-md-3 col-lg-3 col-xl-2 d-flex">Plataformas</div>
                    <div class="d-none d-md-block col-md-3 col-lg-2 col-xl-2 offset-lg-1">Precio</div>
                    <div class="d-none d-md-block col-md-1 col-lg-1 col-xl-1">Borrar</div>
                  </div>
                  <hr class="my-4">
                  <div *ngIf="orderlist.length == 0">
                    <h2 class="text-center">No hay ordenes en el carro</h2>
                  </div>
                  <div *ngFor="let order of orderlist"
                    class="row mb-4 d-flex justify-content-between align-items-center">
                    <div *ngFor="let file of order.game.files" class="col-md-2 col-lg-2 col-xl-2">
                      <img *ngIf="file.executable == 0" src="http://localhost:8080/file/files/{{file.uniquename}} "
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h3>{{order.game.name}}</h3>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <div *ngFor="let platform of order.game.platforms">
                        <h3>{{platform.name}}</h3>
                      </div>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h3 *ngIf="order.game.precio == 0">Gratuito</h3>
                      <h3 *ngIf="order.game.precio > 0">{{order.game.precio}} €</h3>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end text-center">
                      <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                    <hr class="my-4">
                  </div>

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="#!" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Back
                        to shop</a></h6>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Precio total</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Número de productos 1</h5>
                    <h5>€ 132.00</h5>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>{{precio}} €</h5>
                  </div>

                  <button type="button" class="btn btn-outline-dark btn-sm w-100"
                    data-mdb-ripple-color="dark">Pagar</button>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>