<section class="h-100 h-custom" style="background-color: #2C3E50;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <img src="../../../assets/images/videojuegos.jpg"
                        class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                        alt="Sample photo">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 text-center">Registrate</h3>

                        <form [formGroup]="formSignUp" class="px-md-2">

                            <div class="form-outline mb-4">
                                <label class="form-label">Name</label>
                                <input formControlName="name" type="text" class="form-control" placeholder="Juan" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label">Email</label>
                                <input formControlName="email" type="email" class="form-control" placeholder="ejemplo@gmail.com" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label">Contraseña</label>
                                <input type="password" formControlName="password" class="form-control" placeholder="password" />
                            </div>
                            <button type="submit" (click)="signUp()" class="btn btn-success btn-lg mb-1">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>