<div class="row col-md-8 offset-md-2">
    <div>
        <p class="h1 text-center">League of legends</p>
    </div>
    <div class="row">
        <button (click)="addGameToLibrary()">Añadir a la libreria</button>
        <div class="col-8">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores cupiditate incidunt deleniti libero
                iusto sed similique esse aut, corporis blanditiis iure impedit, tempore facilis earum laudantium ea.
                Ratione, temporibus dolorum.
                
            </p>
            <div class="row">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam soluta impedit voluptate quos reprehenderit magni! Rerum delectus sequi, voluptas voluptates dolore autem ratione, corrupti aut ipsum unde, obcaecati maiores ea.</p>
            </div>
        </div>
        <div class="col-4">
            <img style="max-width: 347px; max-height: 195px;" src="../../../assets/images/leagueoflegends-horizontal.jpeg">
        </div>
    </div>
</div>