<section>
<div class="d-flex justify-content-center align-items-center">
    <div class="card col-md-8 col-12">
      <div *ngFor="let file of game.files">
      <img *ngIf="file.executable==false" class="card-img-top" src="http://localhost:8080/file/files/{{file.uniquename}}" alt="Card image cap">
      </div>
      <div class="card-body">
        <div>
        <h3 class="card-title">Nombre: {{game.name}}</h3>
        <h3>Precio: {{game.precio}} €</h3>
        </div>  
        <div>
            Géneros:
        <span class="badge bg-primary" *ngFor="let genre of game.genreslist">{{genre.name}}</span>
        </div>
        <div>
            Plataformas:
        <span *ngFor="let platform of game.platforms" class="badge bg-primary">{{platform.name}}</span>
          </div>

          <div class="rating-container">
            <span class="rating-label">Valoración:</span>
            <mat-icon matTooltip="{{game.valoracion}} de 5 estrellas" *ngFor="let starIndex of getStarArray(5); let i = index" class="star-icon" [ngClass]="{ 'yellow-star': i < game.valoracion }">star</mat-icon>
          </div>
          
        <p class="card-text">Descripción: {{game.description}}</p>
        <a  (click)="addProductToOrder()" class="mb-2 btn btn-outline-primary btn-sm w-100">Añadir al carro de la compra</a>
        <a  class="btn btn-outline-primary btn-sm w-100">Añadir a la lista de deseados</a>
      </div>
    </div>
  </div>
</section>