<a href="/juegos"><button class="btn btn-primary"> <i class="fa-solid fa-arrow-left"></i> Go back</button></a>
<div class="row">
    <div *ngFor="let game of searchlist" class="col-12 col-sm-6 col-md-3">
      <div class="card">
        <div *ngFor="let file of game.files">
        <img class="card-img-top" *ngIf="file.executable==false" src="http://localhost:8080/file/files/{{file.uniquename}} " alt="Card image cap">
      </div>
        <div class="card-body">
          <h5 class="card-title">{{game.name}}</h5>
          <a class="platforms" *ngFor="let platform of game.platforms">
            {{platform.name}}
          </a>
          <p class="card-text">{{game.description}}</p>
          <a href="/juego/{{game.id}}" class="btn btn-outline-primary btn-sm w-100">Ver juego</a>
        </div>
      </div>
    </div>
  </div>