<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Redeem Code</h5>
          <form>
            <div class="form-group">
              <label for="code">Código:</label>
              <input name="code" type="text" class="form-control" id="code" placeholder="Ingresa el código" [(ngModel)]="code">
            </div>
            <div class="form-group text-center">
              <button (click)="redeemCode(code)" type="submit" class="btn btn-primary">Canjear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
