<div class="row  offset-2 col-8">
<form>
    <div class="form-group mb-2">
      <label class="mb-2" for="exampleFormControlInput1">Nombre del videojuego</label>
      <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="form-group mb-2">
        <label for="exampleFormControlTextarea1 mb-2">Descripción</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

    <div class="form-group mb-2">
        <label for="exampleFormControlSelect2 mb-2">Generos</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option *ngFor="let genre of genrelist">{{genre.name}}</option>
        </select>
      </div>

      
    <div class="form-group mb-2">
      <label for="exampleFormControlSelect2 mb-2">Plataformas</label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option *ngFor="let platform of platformlist">{{platform.name}}</option>
      </select>
    </div>
    
    <label class="form-label mb-2" for="customFile">Ejecutable o zip</label>
    <input type="file" class="form-control mb-2" id="customFile" />
    <label for="formFileMultiple" class="form-label mb-2">Imagenes</label>
    <input class="form-control" type="file" id="formFileMultiple" multiple />
    <button class="btn btn-primary mt-4">Publicar</button>
  </form>
</div>