<div class="row  offset-2 col-8">
  <form [formGroup]="gameForm">
    <div class="form-group mb-2">
      <label class="mb-2" for="exampleFormControlInput1">Nombre del videojuego</label>
      <input formControlName="name" type="text" class="form-control" id="exampleFormControlInput1">
     <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine  ">
      <span *ngIf="name?.errors?.['required']">El nombre es obligatorio</span>
      <span *ngIf="name?.errors?.['minlength']">Necesitas al menos {{name.errors?.['minlength'].requiredLength}} caracteres</span>
      <span *ngIf="name?.errors?.['maxlength']">No puedes tener mas de {{name.errors?.['maxlength'].requiredLength}} caracteres</span>
     </div>
    </div>

    <div class="form-group mb-2">
      <label for="exampleFormControlTextarea1 mb-2">Descripción</label>
      <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <div class="alert alert-danger mt-2" [hidden]="description.valid || description.pristine  ">
        <span *ngIf="description?.errors?.['required']">La descripcion es obligatoria</span>
        <span *ngIf="description?.errors?.['minlength']">Necesitas al menos {{description.errors?.['minlength'].requiredLength}} caracteres</span>
        <span *ngIf="description?.errors?.['maxlength']">No puedes tener mas de {{description.errors?.['maxlength'].requiredLength}} caracteres</span>
       </div>
    </div>

    <div class="form-group mb-2">
      <label for="exampleFormControlSelect2 mb-2">Generos</label>
      <select formControlName="genres" multiple class="form-control" id="exampleFormControlSelect2">
        <option value="{{genre.name}}" *ngFor="let genre of genrelist">{{genre.name}}</option>
      </select>
    </div>


    <div class="form-group mb-2">
      <label for="exampleFormControlSelect2 mb-2">Plataformas</label>
      <select formControlName="platforms" multiple class="form-control" id="exampleFormControlSelect2">
        <option value="{{platform.name}}" *ngFor="let platform of platformlist">{{platform.name}}</option>
      </select>
    </div>

    <label class="form-label mb-2" for="customFile">Ejecutable o zip</label>
    <input formControlName="executable" type="file" class="form-control mb-2" id="customFile" />
    <div class="alert alert-danger mt-2" [hidden]="executable.valid || executable.pristine  ">
      <span *ngIf="name?.errors?.['required']">Debes introducir un ejecutable</span>
     </div>
    
    <label for="formFileMultiple" class="form-label mb-2">Imagenes</label>
    <input formControlName="image" class="form-control" type="file" id="formFileMultiple" multiple />
    <div class="alert alert-danger mt-2" [hidden]="image.valid || image.pristine  ">
      <span *ngIf="image?.errors?.['required']">Debes introducir una imagen</span>
    </div>
    <button [disabled]="gameForm.invalid" type="submit" class="btn btn-primary mt-4">Publicar</button>
  </form>
  {{gameForm.value | json}}
</div>