<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Generar códigos</h5>
            <form>
              <div class="form-group">
                <label for="amount">Saldo del código: </label>
                <select name="balance" [(ngModel)]="balance" class="form-control" id="amount">
                  <option selected value="25">25€</option>
                  <option value="50">50€</option>
                  <option value="75">75€</option>
                  <option value="100">100€</option>
                </select>
              </div>
              <div class="form-group text-center">
                <button (click)="generateCode(balance)" type="submit" class="btn btn-primary">Generar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>