<body >
    <div>
        <p class="h1 text-center pt-3 ">Bienvenido a Games4u</p>
        <div class="row">
            <div class="col-12 col-md-4 mb-5 mt-5 mt-md-5">
                <p class="h4 text-center">Compra tus videojuegos favoritos</p>
            </div>
            <div class="col-12 col-md-4 mb-5 mt-md-5">
                <p class="h4 text-center">Sube tus propios videojuegos</p>
            </div>
            <div class="col-12 col-md-4 mb-5 mt-md-5">
                <p class="h4 text-center">Estate pendiente de los próximos lanzamientos con tu lista de deseados</p>
            </div>
        </div>
    </div>
</body>   
    <app-footer></app-footer>