<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <img src="../../../assets/images/videogames.jpg" style="height: 100px !important; width: 100px !important;" class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-2 text-center">{{translations.signin}}</h3>

                        <form [formGroup]="formLogin" class="px-md-2">
                            <div class="form-outline mb-4">
                                <label class="form-label">Email</label>
                                <input formControlName="email" type="email" class="form-control" placeholder="ejemplo@gmail.com" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label">{{translations.password}}</label>
                                <input formControlName="password" type="password" class="form-control" placeholder="{{translations.password}}"/>
                            </div>
                            <div class="text-center">
                                <button type="submit" (click)="signIn()" class="mt-auto btn btn-outline-primary btn-sm w-100">{{translations.signin}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
