<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Games4u</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="d-flex" *ngIf="logout">
         
          <li class="nav-item">
            <!--<i class="fa-solid fa-list"></i>-->
            <a class="nav-link active" i18n="@@biblioteca" aria-current="page" href="biblioteca"> Bilioteca</a>
          </li>
          
          <li class="nav-item">
            <!--<i class="fa-solid fa-star"></i> -->
            <a class="nav-link" href="deseados">Lista de deseados</a>
          </li>
          <li class="nav-item">
            <!--<i class="fa-solid fa-star"></i> -->
            <a class="nav-link" href="publicar">Publicar</a>
          </li>
          <li class="nav-item">
            <!--<i class="fa-solid fa-star"></i> -->
            <a class="nav-link" href="perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <!--<i class="fa-solid fa-star"></i> -->
            <a class="nav-link" href="juegos">Juegos</a>
          </li>
          <li class="nav-item">
            <!--<i class="fa-solid fa-star"></i> -->
            <a class="nav-link" href="añadir-saldo">Añadir saldo</a>
          </li>
        </div>
          <li class="nav-item">
            <!--<i class="fa-solid fa-star"></i> -->
            <a class="nav-link" *ngIf="user?.admin" href="verificar">Verificar</a>
          </li>
          <li class="nav-item">
            <!--<i class="fa-solid fa-star"></i> -->
            <a class="nav-link" *ngIf="user?.admin" href="codigos">Códigos</a>
          </li>
          <li *ngIf="logout" class="nav-item">
            <a class="nav-link" href="carro"><i class="fas fa-shopping-cart"></i></a>
          </li>
          
        </ul>    
        <ul class="d-flex navbar-nav">
          <li class="nav-item">
            <a class="nav-link sign" *ngIf="logout == false" href="signin">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link sign" *ngIf="logout == false" href="signup">Registrarse</a>
          </li>
          <li class="nav-item" *ngIf="logout">
            <span class="nav-link"> {{user!.name}}</span>
          </li>
              <li class="nav-item" *ngIf="logout == true">
                <a class="nav-link logout" (click)="closeSession()">Logout</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>