img{
    max-width: 400px;
    max-height: 400px;
}

.platforms{
    font-size: 12px;
}

.loading {
  position: relative;
  width: 100%;
  height: 100%;
}

.errorSpan{
  color:red;
}

.card-text {
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que sobresale del contenedor */
  text-overflow: ellipsis; /* Agrega los puntos suspensivos al final */
}


.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
