<div class="mt-4">
  <div class="input-group justify-content-end">
    <div class="col-10 form-outline">
      <input type="search" (keyup.enter)="getgamebyname(gamename)" [(ngModel)] = "gamename" placeholder="Nombre del videojuego" id="form1" class="form-control" />
         </div>
         <div class="col-2">
    <button style="width: 100%;" type="button" (click)="getgamebyname(gamename)" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div>
  </div>
  <div  class= "row">
    <div class="text-sm-center text-md-justify justify-content-center justify-content-md-end ">
  <span class="errorSpan" *ngIf="isshort == true">Busqueda con mínimo 3 caracteres</span>
</div>
  </div>
  <div  class="row mt-4">
    <div *ngFor="let game of gamelist" class="col-12 col-sm-6 col-md-3">
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/genshin.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{game.name}}</h5>
          <a class="platforms" *ngFor="let platform of game.platforms">
            {{platform.name}}
          </a>
          <p class="card-text">{{game.description}}</p>
          <a href="/juego/{{game.id}}" class="btn btn-primary">Ver juego</a>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="...">
    <ul class="pagination justify-content-center justify-content-md-end">
      <li  class="page-item disabled">
        <button disabled (click)="restPage()" *ngIf="this.actualpage == 0" class="page-link">Previous</button>
      </li>
      <li (click)="restPage()" *ngIf="this.actualpage != 0" class="page-item">
        <span class="page-link">Previous</span>
      </li>
      <li *ngIf="this.actualpage !=0" class="page-item"><a (click)="changePage(this.actualpage-1)" class="page-link">{{this.actualpage-1}}</a></li>
      <li class="page-item active">
        <span class="page-link">
          {{this.actualpage}}
          <span class="sr-only">(current)</span>
        </span>
      </li>
      
      <li class="page-item"><a *ngIf="gamelist.length == 4"  (click)="changePage(this.actualpage+1)" class="page-link">{{this.actualpage+1}}</a></li>
      <li *ngIf="gamelist.length == 4" class="page-item">
        <button  (click)="sumPage()" *ngIf="gamelist.length == 4" class="page-link">Next</button>
      </li>
      <li  *ngIf="gamelist.length < 4" class="page-item disabled">
        <button  (click)="sumPage()" *ngIf="gamelist.length < 4" class="page-link" disabled >Next</button>
      </li>
    </ul>
  </nav>
</div>